* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("/src/assets/invertedhr.jpg");
    background-size: 60vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   
    background-color: black;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: x-large;
    color: rgb(218, 218, 218);
    background-color:black;
    height: 10vh;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    z-index: 100;
}

.site-background {
    margin-top: 14vh;
    height: 90vh;
}

.cards {
    color: rgb(218, 218, 218);
    background-color: black;
    width: 90vh;
    margin: auto;
    margin-top: 5vh;
    font-size: x-large; 
}

.titles {
    font-family: 'Carrois Gothic SC', sans-serif;
    color:  rgb(218, 218, 218);
}